<web-app>
	<servlet>
		<servlet-name>
			Hello Servlet
		</servlet-name>
		<servlet-class>com.cts.training.controller.Helloservlet
		</servlet-class>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.cts.training.controller.LoginServlet</servlet-class>
	</servlet>
	<!-- Servlet Mapping -->
	<servlet-mapping>
		<servlet-name> Hello Servlet</servlet-name>
		<url-pattern>/hello</url-pattern>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
</web-app>