<html>
  <head>
    <title>AdminHomepage</title>
    
    </head>
<body>
  
   <nav class="navbar navbar-expand-md navbar-green bg-dark fixed-top">
    
<div class="container-fluid">
    <a class="nav-link" roterLink="home">Home</a>
  
  
    <div class="collapse navbar-collapse">
      
<ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" routerLink="importdata">ImportData</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="managecompany" >ManageCompany</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="manageexchange">ManageExchange</a></li>
<li class="nav-item"><a class="nav-link" routerLink="updateipo">UpdateIpo</a></li>
<li class="nav-item">
<a class="navbar navbar-expand-md" routerLink="logout">Logout</a>  </li>
              </ul>
        </div>
    </div>
</nav>

