<html>
<head>
<title>Landing Page</title>
</head>
<body bgcolor="gray">
<div class="container">
<h2 class="text-center">Stock Market Image</h2>

<br>
<br>
<div id="topnav" style="float:left;width: 840px; height: 20px; word-spacing: 5px; font-size: 90%; padding-left:60px; padding-top: 6px; white-space: nowrap; text-align:left; background-color: black;">
 <nav bgcolor="blue">
                
                 <a routerLink="home">Home</a> |
                 
                            <a routerLink="login">LOGIN</a> |
    
                            <a routerLink="register">Register</a>|
                            <a routerLink="user"> User List</a>|
                            <a routerLink="pipe">pipe</a>
                            <span style="float:left" ></span>
                      </nav>
    </div>
    
</div>

<router-outlet></router-outlet>
</body>
</html>
