<html>
  <head>
    <title>Landing Page</title>
    </head>
<body>
  <div id="topnav" style="float:left;width: 840px; height: 20px; word-spacing: 50px; font-size: 90%; padding-left:60px; padding-top: 20px; white-space: nowrap; text-align:left; background-color:lightcoral;">
   <nav class="navbar navbar-expand-md navbar-light bg-dark">
    

      <a href="#">Home</a>|
      <a routerLink="aboutus">AboutUs</a>
      <a routerLink="login" >Login</a>
      <a routerLink="register">Register</a> 
      <a routerLink="logout">logout</a>
      <a routerLink="admin">AdminPage</a>
      <a routerLink="user">User</a>
  </nav>
</div>
<router-outlet></router-outlet>
</body>