 <h2> {{title}}</h2>
 <!-- <h2>{{ user.name | uppercase}}</h2> -->
<!-- <--<p class="h6"> hello</p>
<p class="text-left h1" >hi </p>
<hr>
<a href="register"  signin></a>
<hr>
<table border='1'>
    <tr><th>
    id
    </th>
    <th> name</th></tr>
     <tr>  <td>
{{user.id}}
        </td>
        <td>
{{user.name}}
        </td>
    </tr>
</table>
 // --> 
<!-- <a href ="register"> register</a>
<div class=" container body-content app-container ">
    <div>
    <input type="text" [(ngModel)]="user.name" class="form-control">
 </div>
    <div>
      <button class="btn -primary" (click)="callMe()"> callme</button>
  </div>
<div> {{user.name}}</div>
</div> -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li>
    
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
