 <h2> {{title}}</h2>
 <!-- <h2>{{ user.name | uppercase}}</h2> -->
<!-- <--<p class="h6"> hello</p>
<p class="text-left h1" >hi </p>
<hr>
<a href="register"  signin></a>
<hr>
<table border='1'>
    <tr><th>
    id
    </th>
    <th> name</th></tr>
     <tr>  <td>
{{user.id}}
        </td>
        <td>
{{user.name}}
        </td>
    </tr>
</table>
 // --> 
<!-- <a href ="register"> register</a>
<div class=" container body-content app-container ">
    <div>
    <input type="text" [(ngModel)]="user.name" class="form-control">
 </div>
    <div>
      <button class="btn -primary" (click)="callMe()"> callme</button>
  </div>
<div> {{user.name}}</div>
</div> -->
<!-- <app-child [messageFromParent]="message"></app-child> -->
<app-child (ChildMessage)="setMessage($event)">

</app-child>
{{messagefromChild}}
<p appRed>Hello This is Red</p>
<app-form></app-form>
<app-login></app-login>