<div class="col-md-6">
    <h2 class="text-center">updateUser</h2>
    <form [formGroup]="updateUser" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="number" formControlName="id" placeholder="Course Id with max 5 digits" name="id" class="form-control" id="id" disabled>
         
      </div>
      <div class="form-group">
        <input type="text" formControlName="name" placeholder="enter Name" name="name" class="form-control" id="name">
      
      </div>
       <div class="form-group">
        <input type="text" formControlName="email" placeholder="@gmail.com" name="email" class="form-control" id="email">
        
      </div>
       <div class="form-group">
        <input type="text" formControlName="phone" placeholder="enter number" name="number" class="form-control" id="number">
        
      </div>
      
  
  
      <button class="btn btn-success" (click)="updateTheUser()" [disabled]="!updateUser.valid">updateUser</button>
    </form>
  </div>
  

